---
import Header from '../components/common/Header.astro';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={['min-h-screen flex flex-col', className]}>
  <Header />
  <div class="flex-grow pt-[73px]">
    <slot />
  </div>
</div>
